h1 {
    text-align: center;
    color: whitesmoke;
}

form {
    text-align: center;
}

table {
    margin: 0 auto;
    width: 900px;
    text-align: left;
    border-spacing: 40px
}
label {
    color: white;
}

table, th, td {
    margin-top: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    /* opacity: 85%; */
}
th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #fff;
}

body {
    /* background: linear-gradient(
      90deg,
      rgba(48, 16, 255, 1) 0%,
      rgb(100, 255, 216) 100%
    ); */
    background: linear-gradient(
        to right, #311ced,
        #cc00ff, #f20000);
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
  }
  @keyframes body {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .button{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    outline: 1px solid #fff;
    padding: 2px 4px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
  }

  .button:hover {
    color: #9700fc
  }

  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    width: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    transform: skew(35deg);
    z-index: -1;
    transition: width 1s;
  }

    .button:hover::before {
        transform: scaleX(1) skew(35deg);
    }