h1 {
    text-align: center;
    color: whitesmoke;
}

table {
    width: 900px;
    text-align: left;
    border-spacing: 40px
}
label {
    color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    /* opacity: 85%; */
}
th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #fff;
}

body {
    background: linear-gradient(
      90deg,
      rgba(48, 16, 255, 1) 0%,
      rgb(100, 255, 216) 100%
    );
  }
  