<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/basic.css" media="screen" />
    <link rel="icon" href="../static/reminder.ico">
    <title>Brian's Todo App</title>
</head>
<body>
    <h1>Todozilla</h1>
    <form action="/todo/add" method="post">
        <div>
        <div class="add-task">
            <label for="title">New Task</label>
            <input type="text" name="title" placeholder="Enter Task"></input>
            <input
                 type="date"
                 id="due_date"
                 name="due_date"
                 value="2022-01-01"
                 min="2022-01-01"
                 max="2028-12-31"
            />
            <button type="submit">Add</button>
        </div>
    </form>
    <table class="todo-table">
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Status</th>
            <th>Date Created</th>
            <th>Due Date</th>
            <th>Action</th>
        </tr >
        {% for todo in todo_list %}
        <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.title }}</td>
                <!-- <td>{{ todo.due_date }}</td>
                <td>{{ todo.date_created }}</td> -->
                {% if todo.complete == False %}
                <td> Not Complete </td>
                {% else %}
                <td> Completed </td>
                {% endif %}
                
                <td>date-created</td>
                <td>date-it-is-due</td>
                <td>  
                      <a href="">Edit</a>     ||                         
                      <a href="/todo/delete/{{ todo.id }}">Delete</a>         </td>
                <td>  <a href="/todo/update/{{ todo.id }}">Mark Complete</a>  </td>
        </tr>
        {% endfor %}
    </table>
</div>


</body>
</html>